version: '3.1'
services:
  app:
    build: .
    ports:
      - '3000:3000'
  postgres:
    image: postgres
    restart: always
    expose:
      - '5432'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin

networks:
  default-network:

volumes:
  postgres-data:
